@use "/src/sass/base/colors";
@use "/src/sass/base/fonts";

.authenticate-input {
  background-color: colors.$neutral-20;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 0.5rem;
  color: colors.$primary;
  padding: 0.8125rem 1rem;
  font-size: 1rem;
}

.authenticate-input::placeholder {
  color: colors.$neutral-40;
}

.authenticate-input:focus,
.authenticate-input:focus-visible {
  outline: none;
}
