@use '/src/sass/utils/mixins' as *;
@use '/src/sass/base/fonts';
@use '/src/sass/base/colors';

.bread-crumb {
    @include flex(row, flex-start, center);
    height: max-content;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    background-color: #f0f0f0;
    margin-top: 1rem;

    a {
        color: #171717;
        font-size: 0.9rem
    }
}

.bread-arrow {
    @include flex(row, center, center);
    font-style: normal;
    background-image: url('/assets/icons/Arrows/Arrow-Left.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
}

.special-offers-container {
    padding: 1rem 1.5rem;

    & h2.title {
        font-size: 2.2rem;
    }

    & h3.en-title {
        font-size: 1rem;
        font-weight: 400;
    }
    .brand{
        font-family: fonts.$en;
        font-size: 30px;
        font-weight: 400
    }

    .sizes-chooser {
        @include flex(row, center, center);
        gap: 1rem;

        span,
        li {
            @include flex(row, center, center);
            width: 48px;
            height: 48px;
            border: 1px solid colors.$neutral-30;
            border-radius: 0.5rem;
            color: #171717;
            font-family: fonts.$en;
            font-size: 1.4rem;
            cursor: pointer;
            transition: all ease-in-out 0.3s;
        }

        .selectedSize {
            background-color: #171717;
            color: #fff;
            font-size: 1.7rem;
        }

        span {
            text-align: center;
            font-family: fonts.$regular;
            font-size: 0.8rem;
            cursor: initial;
        }
    }

    .colors-picker {
        @include flex(row, center, center);
        gap: 1rem;
        margin: 1rem;
        width: 100%;
        height: max-content;
        padding: 1rem;

        li {
            @include flex(row, flex-end, center);
            width: 48px;
            height: 48px;
            border-radius: 0.5rem;
            transition: all ease-in-out 0.3s;
            cursor: pointer;
            font-family: fonts.$en;
            color: colors.$primary-40;
            font-size: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .selectedColor {
            @include flex(row, center, center);
            width: 128px;
            border: 1px solid #171717;
            color: #fff;
        }
        .mainClassColor{
            border: 1px solid #171717;
            padding: 1rem;
        }
    }
    .buyingButton{
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: colors.$info;
        font-family: fonts.$semi-bold;
        
    }
}