@use '/src/sass/utils/mixins' as *;
@use '/src/sass/base/fonts';
@use '/src/sass/base/colors';

.body{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.bread-crumb {
    @include flex(row, flex-start, center);
    height: max-content;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    background-color: #f0f0f0;
    margin-top: 1rem;

    a {
        color: #171717;
        font-size: 0.9rem
    }
}

.bread-arrow {
    @include flex(row, center, center);
    font-style: normal;
    background-image: url('/assets/icons/Arrows/Arrow-Left.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
}

.special-offers-container {
    padding: 1rem 2rem;
    @include flex(row, space-around, center);

    
    .general-info {
        @include flex(row, start, center);
        width: 40%;
        height: max-content;
    }
    .purchase-info {
        @include flex(column, center, center);
        gap: 1rem;
    }

    & h2.title {
        font-size: 2.5rem;
    }

    & h3.en-title {
        font-size: 1rem;
        font-weight: 400;
    }

    .brand {
        font-family: fonts.$en;
        font-size: 30px;
        font-weight: 400
    }
    .row{
        width: 510px;
        padding: 1rem;
        @include flex(row , space-between , center);
        .offer {
            @include flex(row , center , center);
            width: 80px;
            height: 40px;
            background-color: rgba(161, 168, 150, 0.615);
            border-radius: 5px;
            & p{
                font-weight: 800;
                font-size: 20px;
                font-family: fonts.$en;
            }
        }
        .prices{
            @include flex(row , center ,center);
            gap: 0.5rem;
            & h3 {
                text-decoration: line-through;
                color: #4d4d4d;
                font-weight: 300;
            }
        }
    }
    


    .sizes-chooser {
        @include flex(row, center, center);

        gap: 1.5rem;

        span,
        li {
            @include flex(row, center, center);
            width: 48px;
            height: 48px;
            border: 1px solid colors.$neutral-30;
            border-radius: 0.5rem;
            color: #171717;
            font-family: fonts.$en;
            font-size: 1.4rem;
            cursor: pointer;
            transition: all ease-in-out 0.3s;
        }

        .selectedSize {
            background-color: #171717;
            color: #fff;
            font-size: 1.7rem;
        }

        span {
            text-align: center;
            font-family: fonts.$regular;
            font-size: 0.8rem;
            cursor: initial;
        }
    }

    .colors-picker {
        @include flex(row, center, center);
        gap: 1rem;
        margin: 0.5rem;
        width: 100%;
        height: max-content;
        padding: 1rem;


        li {
            @include flex(row, flex-end, center);
            width: 48px;
            height: 48px;
            border-radius: 0.5rem;
            transition: all ease-in-out 0.3s;
            cursor: pointer;
            font-family: fonts.$en;
            color: colors.$primary-40;
            font-size: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .selectedColor {
            @include flex(row, center, center);
            width: 128px;
            color: #4d4d4d;
            text-shadow: 1px 1px 2px black;
        }

        .mainClassColor {
            border: 1px solid #171717;
            padding: 1rem;
        }
    }

    .buyingButton {
        @include flex(row, start, center);
        margin-top: 1rem;
        & button {
            width: 500px;
            height: 50px;
            border-radius: 10px;
            border: none;
            background-color: colors.$primary-70;
            font-family: fonts.$semi-bold;
            color: #fff;
        }
    }
}
.image-holder{
    @include flex(column,center,center);
    gap: 10px;
    width: 40%;
    height: max-content;
    .notselectedImg{
        width:630px;
        height: 500px;
        border-radius: 10px;
        cursor: pointer
    }
    .miniImg{
        @include flex(row,"",center);
        gap: 10px;
       img{
        width: 150px;
        height: 150px;
        border-radius: 10px;
       }
    }
    .selectedImg{
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 350px;
        width: 800px;
        height: 800px;
        border-radius: 10px;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }
}