@use "/src/sass/utils/mixins.scss" as *;
@use "/src/sass/base/fonts";

.main-div {
  display: flex;
  gap: 120px;
  position: relative;
  width: 95%;
  margin: 20px auto;
  height: 428px;
  background-color: #171717;
  border-radius: 10px;

  .prson {
    width: 600px;
    border-radius: 12px;
  }

  .hakopian {
    position: absolute;
    top: 150px;
    left: 120px;
  }

  .imgh {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .text-hakopian {
    @include flex(column, center, center);

    h1 {
      font-size: 48px;
      z-index: 1;
      color: white;
    }

    p {
      font-size: 24px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 5px;
    }
  }

  .position-w {
    @include flex(row, center, center);
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: white;
    width: 150px;
    height: 90px;
    border-radius: 10px;
  }

  .button-vuesax {
    @include flex(row, center, center);
    width: 120px;
    height: 70px;
    border-radius: 10px;
    background-color: #171717;
  }
}

.main-prson {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  height: 320px;
  background-color: #ffffff;

  .men,
  .women {
    width: 500px;
    height: 320px;
    background-color: #c9c9c9;
    border-radius: 20px;
  }

  .position-1 {
    position: absolute;
    bottom: 0;
    left: 480px;
    width: 500px;
    height: 155px;
    background-color: #c9c9c9;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .position-2 {
    position: absolute;
    top: 0;
    right: 480px;
    width: 500px;
    height: 155px;
    background-color: #c9c9c9;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .position-men {
    position: absolute;
    bottom: 35px;
    left: 10px;
    width: 900px;
  }
  .position-women {
    position: absolute;
    top: 35px;
    right: 10px;
    width: 900px;
  }
  .position-menprson {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 280px;
  }
  .position-womenprson {
    width: 200px;
    position: absolute;
    top: 20px;
    right: 300px;
  }
  .text-men{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 10px;
   margin: 50px;
   font-size: 32px;
  }
  .text-women{
    display: flex;
    margin-top: 250px;
    margin-right:50px;
    align-items: center;
    gap: 10px;
    font-size: 32px;
   }
}
.main-offer{
  margin-top: 1rem;
  h3{
    text-align: center;
  }
  .flex-product{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}